body {
  background-color: white;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 800px;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-container {
  background: linear-gradient(to left, #7eb7ec, #7da3cf, #3d89d6);
  border-bottom: 1px solid transparent;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-menu {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 40px;
  text-align: center;
  width: 40px;
}

.nav-menu a {
  flex-grow: 0.04;
  text-decoration: none;
  color: white;
  min-height: 100%;
  height: 40px;
  padding-top: 14px;
  font-size: 20px;
}

.nav-menu a:hover {
  background: linear-gradient(
    to bottom,
    rgba(24, 112, 199, 0.6),
    rgba(44, 87, 216, 0.6)
  );
  border: 0.1 solid white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 30ms;
  color: #ffffff;
}

#card {
  font-weight: bold;
}

.phone-store {
  border: 4px solid white;
  margin-left: 7px;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
  height: 40px;
  padding: 4px;
  cursor: pointer;
}

.phone-store a {
  color: white;
  text-decoration: none;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin-top: 20px;
  align-items: baseline;
  height: 600px;
  flex-wrap: wrap;
}

.items-container .one-item {
  border: 1px solid white;
  border-radius: 14px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  margin-top: 27px;
  width: 370px;
  gap: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  min-height: 30px;
  border-collapse: collapse;
  gap: 6px;
  margin-bottom: 6px;
  padding: 16px;
  padding-top: none;
}

.options:hover {
  cursor: pointer;
}

.see-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bac2f2;
  border-radius: 50px;
  color: black;
  min-height: 29px;
  width: 80%;
  user-select: none;
  border: none;
  cursor: pointer;
}

.see-item span {
  padding-right: 35px;
  display: flex;
  gap: 2px;
  column-gap: 323px;
  flex-direction: row;
}

.see-item:hover {
  background-color: #2d6baa;
  color: white;
}

.add-card {
  flex: 2;
  background-color: #bac2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border-style: hidden;
  min-height: 29px;
  width: 80%;
  cursor: pointer;
}

.add-card:hover {
  background-color: #2d6baa;
  color: white;
}

.add-card span {
  display: flex;
  gap: 20px;
}

.see-item span {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  padding-left: 35px;
}

.photo-container {
  flex: 4;
  width: 100%;
  display: flex;
  justify-content: center;
}

.picOfItem {
  height: 273px;
  width: 330px;
}

.nameOfItem {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: black;
  font-size: 19px;
  cursor: pointer;
}

.see-all {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bac2f2;
  width: 200px;
  text-align: center;
  height: 50px;
  border-radius: 40px;
  font-size: 17px;
  border-style: hidden;
}

.see-all:hover {
  background-color: #2d6baa;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: rgba(11, 51, 170, 0.554);
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.logo-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  gap: 1px;
  margin-bottom: 30px;
}

.message-on-footer {
  text-align: left;
  font-style: italic;
  color: white;
  max-width: 410px;
  font-size: 16px;
}

.contact-footer-container {
  color: white;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.contact-footer-container p {
  margin-top: 4px;
  cursor: pointer;
}

.contact-footer-container p:hover {
  color: rgb(16, 7, 48);
}

.follow-us-container {
  flex: 2;
  border: none;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.logo-footer-container img {
  width: 150px;
  height: 150px;
}

.logo-footer-container {
  height: 125px;
}

.message-on-footer {
}

.contact-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: none;
  cursor: pointer;
}

.copyright {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.copyright p {
  cursor: pointer;
}
