body {
  margin: 0px;
}

.page-content {
  margin-top: 27px;
}

.nav-container {
  background: linear-gradient(to left, #7eb7ec, #7da3cf, #3d89d6);
  border-bottom: 1px solid transparent;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-menu {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 40px;
  text-align: center;
  width: 40px;
}

.nav-menu a {
  flex-grow: 0.04;
  text-decoration: none;
  color: white;
  min-height: 100%;
  height: 40px;
  padding-top: 14px;
  font-size: 20px;
}

.nav-menu a:hover {
  background: linear-gradient(
    to bottom,
    rgba(24, 112, 199, 0.6),
    rgba(44, 87, 216, 0.6)
  );
  border: 0.1 solid white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 30ms;
  color: #ffffff;
}

#card {
  font-weight: bold;
}

.phone-store {
  border: 4px solid white;
  margin-left: 7px;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
  height: 40px;
  padding: 4px;
  cursor: pointer;
}

.phone-store a {
  color: white;
  text-decoration: none;
}

.about-us-header-section-container {
  width: 100%;
  height: 600px;
  background: url("/public/photos/main photo.jpg");
  background-size: cover;
  background-color: #10444e;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: 150%;
}

.about-us-header-section-container h1 {
  font-size: 100px;
}

.our-story-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.our-story-container h1 {
  text-align: center;
  height: 27px;
  width: 100%;
  padding-right: 48px;
}

.story-text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  margin-top: 55px;
  font-size: 18px;
}

.photo-story-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 400px;
}

.text-our-story {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
  line-height: 23px;
  font-size: 16px;
}

.first-blue {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 113px;
}

.first-blue-square {
  width: 127px;
  height: 100%;
  background-color: #2263e0;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: -14px;
}

.photo-of-story {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: -60px;
}

.photo-of-story img {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.second-blue {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 113px;
  margin-top: -70px;
}

.second-blue-square {
  width: 127px;
  height: 100%;
  background-color: #2263e0;
  border-radius: 20px;
  margin-left: -14px;
}

.counters {
  display: flex;
  justify-content: center;
  width: 100%;
}
.counter-container {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: space-around;
  width: 80%;
}

.counter-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #2263;
  position: relative;
  height: 200px;
}

.first-square-counter-container {
  display: flex;
  justify-content: flex-end;
  height: 80px;
}

.first-square-in-counter {
  height: 80px;
  width: 100px;
  background-color: #2263e0;
  border-radius: 20px;
  position: absolute;
}

.content-in-couner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: 2px solid #b9c1f1;
  height: 740px;
  width: 150px;

  background: linear-gradient(
    to bottom left,
    #b9c1f1 25%,
    rgba(185, 193, 241, 0) 96%,
    #6b678b 97%
  );
  box-shadow: 0px 24px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 15px;
}

.second-square-counter-container {
  display: flex;
  justify-content: flex-start;
  height: 80px;
}

.second-square-in-counter {
  height: 80px;
  width: 100px;
  background-color: #2263e0;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
}

#cont {
}

#gray-square {
  background-color: #b9c1f1;
}

#blue {
  background: linear-gradient(
    to top left,
    #2263e0 34%,
    rgba(34, 99, 224, 0) 120%,
    rgba(18, 54, 122, 0.6) 50%
  );
  box-shadow: 0px 24px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.counter-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

#blue .counter-heading {
  color: rgb(255, 255, 255);
}

.couner-description {
  margin-top: 12px;
  text-align: center;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}

#blue .couner-description {
  color: white;
}

.cards-about-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}

.cards-company-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 340px;
  justify-content: center;
  gap: 70px;
}

.card-fetature-desc {
  font-size: 15px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
  width: 84%;
  color: white;
}

.features-container {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-left: 20px;
  width: 30%;
  color: white;
  border-radius: 10px;
}

.features-container h2 {
  margin-bottom: 0px;
  vertical-align: middle;
}

.feature-image-container {
  width: 65px;
  height: 65px;
  margin-top: 0px;
}

.feature-image-container img {
  width: 100%;
  height: 100%;
}

#mission {
  background-color: #3e79e7;
}

#vision {
  background-color: #7c76aa;
}

#goals {
  background-color: #50a1ec;
}

#vision img {
  height: 92%;
}

.contact {
  width: 100%;
  color: blue;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  gap: 100px;
}

.card-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 200px;
  background-color: white;
  color: white;
  font-weight: bold;
}

.square-contact-container-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
}

.square-contatct {
  background-color: #2263e0;
  border-radius: 10px;
  width: 100px;
  height: 100%;
}

.square-contact-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
}

.info-contatc-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  height: 160px;
  top: 20px;
  left: 15px;
  z-index: 1;
  background-color: #a396bd;
  border-radius: 10px;
  font-size: 16px;
  gap: 4px;
}

.info-contatc-container img {
  width: 70px;
  height: 70px;
}

#phone-c {
  width: 65px;
  height: 65px;
}

.square-contatct-b {
  background-color: #2263e0;
  background-color: #2263e0;
  border-radius: 10px;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 33px;
  right: 15px;
}

#cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 170px;
}

.slider-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 70px;
  height: 300px;
  margin-bottom: 150px;
}

.arrow-to-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.arrow-to-left img {
  width: 100px;
  height: 100px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
}

.slider-item img {
  height: 250px;
}

.info-in-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: -20px;
  height: 140px;
  position: relative;
}

.linkedin-profile {
  border-radius: 10px;
  height: 70px;
  background-image: url(/public/photos/linkedin.png);
  object-fit: fill;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  position: absolute;
  top: -4.3px;
  left: px;
  z-index: 1;
  left: -19px;
  cursor: pointer;
}

.person-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 80%;
  background: linear-gradient(
    to top left,
    #2263e0 15%,
    rgba(34, 99, 224, 0) 170%,
    rgba(18, 54, 122, 0.6) 50%
  );

  gap: 1px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 19px;
  font-family: "Helvetica";
  align-items: center;
  padding-top: 7px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.name {
  width: 100%;
  height: 7%;
  margin-bottom: 0px;
}

.position {
  width: 100%;
  height: 7%;
  color: rgb(161 42 42 / 85%);
}

.name:hover {
  font-size: 20px;
  height: 3%;
}
