body {
  margin: 0px;
  font-family: "Gilroy";
}

* {
  box-sizing: border-box;
}

.page-content {
  margin-top: 27px;
}

.about-us-container{
  padding: 100px 60px;
  display: flex;
  width: 100%;
}

.about-us-desc-hero{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap:50px;
  height: auto;
  align-items: flex-start;
  justify-content: center;
}

.learn-more-button-container{
  padding-left: 40px;

}

.hero-heding{
  font-size: 70px;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  width: 100%;
  color: #0426D7;
}

.about-us-heading-desc-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #1F1D8F;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.about-us-hero-img-container{
  width: 60%;
}

.about-us-hero-img-container img{
  width: 100%;
}

.our-story-section{
  padding-top: 200px !important;
  padding-bottom: 100px !important;
}


.our-story-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 140px;
}

.our-story-container h1 {
  font-size: 40px;
  margin: 0px;
  line-height: 24px;
  width: 50%;
  text-align: center;
  color: #0426D7;
}

.story-text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  gap:30px;
  padding-top: 30px;
  color: #04043d;
  
}

.photo-story-container {
  display: flex;
  width: 50%;
  align-items: center;
  position: relative;
  height: 400px;
}

.text-our-story {
  width: 70%;
  overflow: auto;
  line-height: 150%;
  font-size: 18px;
}

.first-blue {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 140px;
  height: 100px;
  
}

.first-blue-square {
  background-color: #0194d9;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.photo-of-story {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  
}

.photo-of-story img {
  border-radius: 4px;
  width: 440px;
  height: 320px;
  z-index: 1;
  animation: pulse 2s infinite;
}

.second-blue {
  width: 140px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.second-blue-square {
  width: 100%;
  height: 100%;
  background-color: #0196da;
  border-radius: 5px;
  
}

.counters {
  display: flex;
  justify-content: center;
  width: 100%;
}

.counter-container {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: center;
  gap:60px;
  width: 100%;
  padding: 0px 140px;
  
}

.counter-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 20px;
  border: 2px solid #2263;
  position: relative;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.first-square-counter-container {
  position: absolute;
  height: 80px;
  width: 100px;
  right: 0px;
  top:0px;
}

.first-square-in-counter {
  height: 100%;
  width: 100%;
  background-color: #2263e0;
  border-radius: 20px;
  
}

.content-in-couner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #b9c1f1;
  height: 85%;
  width:70%;
  background: linear-gradient(
    to bottom left,
    #b9c1f1 25%,
    rgba(185, 193, 241, 0) 96%,
    #6b678b 97%
  );
  box-shadow: 0px 24px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}

.second-square-counter-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 100px;
}

.second-square-in-counter {
  width: 100%;
  height: 100%;
  background-color: #2263e0;
  border-radius: 20px;
  
}

#gray-square {
  background-color: #b9c1f1;
}

#blue {
  background: linear-gradient(
    to top left,
    #2263e0 34%,
    rgba(34, 99, 224, 0) 120%,
    rgba(18, 54, 122, 0.6) 50%
  );
  box-shadow: 0px 24px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.counter-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

#blue .counter-heading {
  color: rgb(255, 255, 255);
}

.couner-description {
  margin-top: 12px;
  text-align: center;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}

#blue .couner-description {
  color: white;
}

.cards-about-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-company-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 340px;
  justify-content: center;
  gap: 50px;
  padding: 0px 140px;
}

.card-fetature-desc {
  font-size: 16px;
  line-height: 21px;
  width: 84%;
  color: white;
  margin-top: 10px;
  padding-bottom: 10px;

}

.features-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
  height: 380px;
  color: white;
  border-radius: 10px;
  cursor:pointer;

}

.features-container h2 {
  margin-bottom: 0px;
  vertical-align: middle;
}

.feature-image-container {
  width: 65px;
  height: 65px;
  margin-top: 0px;
}

.feature-image-container img {
  width: 100%;
  height: 100%;
}

#mission {
  background-color: #3e79e7;
}

#vision {
  background-color: #7c76aa;
}

#goals {
  background-color: #50a1ec;
}

#vision img {
  height: 92%;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  
}

.contact-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 110px;
  padding: 0px 150px;
}

.card-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 200px;
  background-color: white;
  color: white;
  font-weight: bold;
  position: relative;
}

.square-contact-container-top {
  display: flex;
 position: absolute;
 left: -10px;
  width: 80px;
  height: 80px;
}

.square-contatct {
  background-color: #0194d9;
  border-radius: 5px;
  width: 100px;
  height: 100%;
}

.square-contact-container-bottom {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.info-contatc-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 160px;
  top: 20px;
  left: 15px;
  z-index: 1;
  background-color: #b7bfee;
  border-radius: 5px;
  font-size: 16px;
  gap: 15px;
  cursor: pointer;
}

.info-contatc-container img {
  width: 60px;
  height: 60px;
}

#phone-c {
  width: 57px;
  height: 57px;
}

.square-contatct-b {
  background-color: #0196da;
  border-radius: 5px;
  width: 100px;
  height: 100%;

}

#cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  height: fit-content;
}

.slider-items-container{
  display: flex;
  gap:50px;
}

.mobile-slider {
  display: none;
  justify-content: center;
  height: 300px;
  margin-top: 100px;
  width: 100%;
}

.slider-container-mobile {
  display: flex;
  gap: 15px;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 300px;
  padding: 0px 150px;
  
}

.arrow-to-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 100%;
 
}
.arrow-to-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 100%;
}

.arrow-to-left img {
  width: 100%;
  height: 60px;
}

.arrow-to-right img {
  width: 100%;
  height: 60px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 200px;
}

.slider-item img {
  height: 250px;
  width: 100%;
}

.info-in-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: -20px;
  height: 140px;
  position: relative;
}

.person-image {
  max-width: 100%;
  border-radius: 5px;
}

.linkedin-profile {
  border-radius: 5px;
  height: 70px;
  background-image: url(/public/photos/linkedin.png);
  object-fit: fill;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  position: absolute;
  top: -4.3px;
  left: px;
  z-index: 1;
  left: -19px;
  cursor: pointer;
}

.person-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 80%;
  background: linear-gradient(
    to top left,
    #2263e0 15%,
    rgba(34, 99, 224, 0) 170%,
    rgba(18, 54, 122, 0.6) 50%
  );

  gap: 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Gilroy";
  align-items: center;
  padding-top: 7px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.name {
  width: 100%;
  height: 7%;
  margin-bottom: 0px;
}

.position {
  width: 100%;
  height: 7%;
  color: rgb(222 215 215 / 85%);
}

.position-mobile {
  color: rgb(222 215 215 / 85%);
}

.name:hover {
  font-size: 20px;
  height: 3%;
}

.slider-mobile {
  display: none !important;
}



@media (max-width: 460px) {
  .about-us-container {
    padding: 140px 0px;
    padding-bottom: 0px;
    flex-direction: column;
    gap:60px;
  }

  .about-us-desc-hero {
    width: 100%;
  }

  .hero-heding {
    font-size: 60px;
    align-items: center;
  }

  .about-us-desc-hero {
    align-items: center;
  }

  .learn-more-button-container {
    padding-left: 0px;
  }

  .about-us-hero-img-container {
    width: 100%;
  }

  .about-us-hero-img-container {
   width: 100%;
   height: 400px;
}

  .about-us-hero-img-container img {
  height: 100%;
  }

  .learn-more-button {
    width: 200px !important;
    font-size: 20px !important;
  }

  .counter-container {
    padding: 0px;
    padding-top: 140px;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .counter-item {
    width: 200px;
    height: 200px;
    }

  .our-story-section {
    padding-top: 140px !important;
    padding-bottom: 0px !important;
  }

  .our-story-container {
    padding: 0px;
    flex-direction: column;
    gap:50px;
  }

  .story-text-container {
    padding-top: 0px;
    width: 100%;
  }

  .text-our-story {
    width: 100%;
  }

  .our-story-container h1 {
    width: 100%;
  }

  .photo-story-container {
    width: 100%;
    height: 260px;
  }

  .photo-of-story img {
    height: 100%;
    width: 240px;
  }

  .first-blue, .second-blue {
    width: 80px;
    height: 80px;
  }

  .text-our-story {
    line-height: 140%;
  }

  .cards-about-company {
    padding: 140px 0px !important;
    padding-bottom: 0px !important;
  }

  .cards-company-container {
    flex-direction: column;
  }

  .cards-company-container {
    padding: 0px;
    height: auto;
    align-items: center;
  }

  .features-container {
    width: 90%;
    padding: 20px;
    height: auto;
    gap: 10px;
  }

  .feature-image-container {
    width: 50px;
    height: 50px;
  }

  .slider-container {
    padding: 0px 0px;
    gap:20px;
  }

  .slider-mobile {
    display: flex !important;
  }

  .desktop-slider{
    display: none !important;
  }

  .arrow-to-right img, .arrow-to-left img  {
    width: 40px;
    height: 40px;
  }

  .slider-item {
    width: 80%;
  }

  .container{
    width: 100%;
    
  }

  .person-info {
    position: unset;
    width: 100%;
    padding: 5px;
    gap:8px;
  }

  .contact-container {
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }

  .card-contact {
    width: 100%;
  }

  .square-contact-container-bottom{
    right: 30px;
  }

  
  .info-contatc-container{
    width: 75%;
    margin-left: 30px;
  }

  .square-contact-container-top {
    left: 18px;
  }

  .contact-container {
    gap:50px;
  }

  .contact{
    padding: 0px !important;
    padding-bottom: 60px !important;
  }

  .info-contatc-container img {
    width: 40px;
    height: 40px;
}

  #phone-c {
    width: 40px;
    height: 40px;
}

}