body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  margin: 0px;
  font-family: "Gilroy";
}

* {
  box-sizing: border-box;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: -80%;
}

.all-about-device {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  min-height: 80vh;
  
}

.device-image-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 600px;
  user-select: none;
}

.device-specifications {
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  background-color: white;
  font-size: 14px;
  width: 60%;
  gap: 10px;
  
}

.section-for-device {
  border-bottom: 1px solid gray;
  height: 70px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.section-for-device h1 {
  color: #0c4e8e;
}

#device-photo {
  height: 90%;
  width: 100%;
  margin-top: 34px;
}

.div-specification-device {
  font-size: 17px;
  gap: 20px;
  display: flex;
  padding-bottom: 20px;
}

#name-of-device {
  font-size: 20px;
}

.device-name-container {
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
  min-height: 35px;
  margin-bottom: 7px;
  padding-bottom: 11px;
}

.add-card {
  margin-top: 20px;
  min-height: 40px;
  min-width: 100%;
  gap: 12px;
}

@media (max-width: 480px) {
  .all-about-device {
    flex-direction: column;
    gap: 0px;
    min-height: 100vh;
  }

  .all-about-device {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    margin-top: 0px;
  }

  .device-image-container {
    width: 100%;
    height: 500px;
  }

  .device-image-container img {
    width: 100%;
    height: 500px;
  }

  .device-name-container {
    width: 90%;
    font-size: 12px;
    min-height: 50px;
  }

  .device-specifications {
    font-size: 12px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }

  .section-for-device {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    align-items: center;
  }

  .add-card {
    min-width: 90%;
    margin-top: 30px;
  }

  .footer {
    position: absolute;
    bottom: -250%;
  }
}
